/* Reset */
body, h1, h2, h3, p, ul{
	padding: 0px;
	margin: 0px;
}

body{
    font-family: Georgia, serif;
    color: #252525;
}

.container{
	max-width: 960px;
	margin: 0 auto;
}

.clear:after, .clear:before{
	content: "";
	display: table;
	clear: both;
}

/*
  1-Navbar
  2-Chamada
  3-Valores
  4-Tipos
  5-Locais
  6-Assine
  7-Fim
*/


/*   1 - Navbar    */
nav{
	background: #252525;
	padding: 20px 0;
}

nav ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 1.125em;
}

nav ul{
	float: right;
}

nav ul li{
	display: inline-block;
	margin: 10px 10px;
	/* 	 cima, direita, baixo, esquerda*/
}

nav ul li:after{
	content: "";
	background: #fff;
	width: 0;
	height: 3px;
	display: block;
	transition: 0.3s;
}

nav ul li:hover:after{
	width: 100%
}

@media (max-width: 960px){
	nav .container{
		max-width: 600px;
	}
}

@media (max-width: 740px){
	nav{
		text-align: center;
	}
	nav img{
		float: none;
		margin: 0 auto;
	}
	nav ul{
		float: none;
		clear: both;
	}
}

/*    2 - Chamada     */
#chamada{
	background: url("D:\InJunior/bg-intro.jpg")no-repeat center center;
	background-size: cover;
	padding: 150px 0;
}

#chamada h1, #chamada p{
	color: white;
	text-align: center;
}

#chamada h1{
	font-size: 3em;
	text-transform: uppercase;
}

#chamada h1::after{
	content: "";
	background: #fff;
	width: 20px;
	height: 4px;
	display: block;
	margin: 10px auto;

}

#chamada p{
	font-size: 1.125em;
	font-style: italic;
}

@media (max-width: 740px){
	#chamada{
		padding: 60px 0;
	}
}

/*   3 - Valores   */
#valores h2{
	font-size: 2.25em;
	text-align: center;
	margin: 70px 0;
}

#valores .valor{
	float: left;
	margin: 0 10px 20px 10px; 
}

#valores .valor h3{
	width: 220px;
	font-size: 2.25em;
	padding: 5px 0 10px 0;
	color: white;
	background-color: #252525; 
	text-align: center;
	font-style: italic;
	text-transform: lowercase;
	position: relative;
	top: -25px;
}

#valores p{
	padding: 15px 0;
	max-width: 460px; 
	font-style: italic;
	font-size: 1.125em;
	margin: 0 auto 50px auto;
	text-align: center;
}

@media(max-width: 960px){
    #valores .container{
        max-width: 600px;
    }
    #valores .valor img{
        width: 280px;
    }
    #valores .valor h3{
        font-size: 1.125em;
    }
}

@media (max-width: 740px){
    #valores .container{
        max-width: 300px;
    }
    #valores .valor{
        float: none;
        margin: 20px 0;
    }
    #valores .valor img{
        width: 300px;
    }
    #valores .valor h3{
        font-size: 2.25em;
        margin: 0 auto;
    }
}




/*  4 - Tipos    */

#tipos{
	background-color: #e7e4d8;
	padding: 50px 0;
	border-bottom: 3px solid #d6d3c8;
	border-top: 3px solid #d6d3c8;
}

#tipos .sabor #paulista::before{
	content: "";
	width: 100px;
	height: 100px;
	display: block;
	background-color: #492901;
	border-radius: 50%;
	margin: 20px auto;
	border: 6px solid #e7e4d8;
	box-shadow: 0 0 0 6px #492901;
}
#tipos .sabor #carioca::before{
	content: "";
	width: 100px;
	height: 100px;
	display: block;
	background-color: #c17139;
	border-radius: 50%;
	margin: 20px auto;
	border: 6px solid #e7e4d8;
	box-shadow: 0 0 0 6px #c17139;
}
#tipos .sabor #mineiro::before{
	content: "";
	width: 100px;
	height: 100px;
	display: block;
	background-color: #d7a54d;
	border-radius: 50%;
	margin: 20px auto;
	border: 6px solid #e7e4d8;
	box-shadow: 0 0 0 6px #d7a54d;
}

#tipos .sabor{
	width: 300px;
	float: left;
	margin: 0 10px 20px 10px;
}

#tipos .sabor h4{
	text-align: center;
	font-size: 2.25em;
	margin: 15px 0;
}

#tipos .sabor p{
	font-size: 0.875em;
	margin: 15px 0;
	padding: 5px 0;
}

#tipos .link{
	padding: 20px 0;
}

#tipos a{
	color: #000;
	width: 180px;
	height: 20px;
	text-align: center;
	font-size: 1.125em;
	border: 3px solid black;
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 0;
	margin: 20px auto 0 auto;
	display: block;
	transition: 0.3s;
}

#tipos a:hover{
	background-color: #000;
	color: #fff;
}

@media (max-width: 960px){
	#tipos .container{
		max-width: 720px;
	}
	#tipos .sabor{
		width: 220px;
	}
}

@media (max-width: 740px){
	#tipos .container{
		max-width: 360px;
	}
	#tipos .sabor{
		margin: 20px auto;
		float: none;
	}
}

/*   5 - Locais    */

#locais{
	padding: 20px 0;
	max-width: 960px;
	margin: 0 auto;
}

#locais .lugar{
	clear: both;
	margin: 60px auto;
}

#lugar .lugar img{
	width: 460px;
	display: block;
	margin: 0 10px;
	float: left;
}

#locais .lugar h5{
	font-size: 2.25em;
	margin: 0 0 20px 0;
}

#locais .lugar p{
	font-size: 1.125em;
    line-height: 1.4em;
    max-width: 320px;
	margin-bottom: 40px;
}

#locais .lugar div{
	width: 460px;
	margin: 0 10px;
	float: right;
}

#locais .lugar a{
	font-size: 1.125em;
	border: 3px solid #252525;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 20px;
	transition: 0.3s;
	color: #252525;
}

#locais .lugar a:hover{
	background-color: #000;
	color: #fff
}

@media (max-width: 960px){
	#locais{
		max-width: 720px;
	}
	#locais .lugar{
		max-width: 710px;
	}
	.lugar img{
		width: 340px;
	}
	#locais .lugar div{
		width: 340px;
	}
}

@media (max-width: 740px){
	#locais{
		max-width: 300px;
	}
	#locais .lugar img{
		width: 300px;
		float: none;
	}
	#locais .lugar div{
		float: none;
	}
}

/*   6 - Assine   */

#assine{
	background-color: #e7e4d8;
	padding: 30px 0;
}

#assine .assine-container{
	max-width: 960px;
	margin: 0 auto;
}

.assine-container::after, .assine-container::before{
	content: "";
	display: table;
	clear: both;
}

#assine .assine-container .info{
	width: 460px;
	margin: 0 15px;
	float: left;
}

#assine .assine-container .info h6{
	font-size: 2.25em;
	margin: 0;
}

#assine .assine-container .info p{
	font-size: 1.5em;
	font-style: italic
}

#assine form label{
	display: none;
}

#assine input{
	display: block;
	border: 3px solid #252525;
	width: 320px;
	font-size: 1.5em;
	font-style: italic;
	font-family: Georgia, serif;
	padding: 10px;
	background: none;
	margin-right: 0;
	float: left;
}

#assine button{
	width: 114px;
	background-color: #252525;
	text-transform: uppercase;
	font-family: Georgia, serif;
	font-size: 1.5em;
	color: #fff;
	border: none;
	padding: 13px;
}

@media (max-width: 960px){
	#assine .assine-container{
		max-width: 720px;
	}
	#assine .assine-container .info{
		width: 340px;
	}
}

@media (max-width: 740px){
	#assine .assine-container{
		max-width: 300px;
	}
	#assine .assine-container .info{
		width: 300px;
		margin: 10px 0 0 0;
	}
	#assine input{
		width: 300px;
		margin: 10px 0 0 0;
	}
}

/* 7 - Fim    */

#fim{
	background: #d6d3c8;
	padding: 60px 0;
}

.fim-cont::after, .fim-cont::before {
	content: '';
	display: table;
	clear: both;
}

.fim-cont{
	max-width: 960px;
	margin: 0 auto;
}

#fim .fim-cont p{
	float: left;
	font-size: 1.125em;
	line-height: 1.4em;
	margin: 0 10px;
	color: #252525
}

#fim .fim-cont img{
	float: right;
    margin: 0 10px;
    display: block;
}

@media (max-width: 740px){
	.fim-cont{
		max-width: 300px;
	}
	#fim .fim-cont img{
		float: none;
		margin: 0;
	}
	#fim .fim-cont img{
		margin: 20px 0;
		float: none;
	}
}